@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol {
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: initial;
}
/* end reset browser styles */



/* start stylesheet 본문스타일 */

* { font-family: 'Noto Sans KR', sans-serif;
    font-style: none; }

html, body {
	width: 100%;
	height: 100%;
}
#container {
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
	padding: 15vh 0;
	box-sizing: border-box;
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
	background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
	background-size: cover;
	transition: 1s opacity;
}
#conbox {
	width: 60%;
	margin: 0 auto;
}
.title_img {
	padding-bottom: 2rem;
}
.title {
	width: 100%;
	margin-bottom: 5vh;
}
.title span { letter-spacing: 0rem; }
.title1 {
	font-size: 2em;
	font-weight: 100;
	letter-spacing: .21em;
	text-shadow: 0 0 30px #000;
}
.title2 {
	font-size: 4.5em;
	font-weight: 300;
	word-spacing: 1rem;
	letter-spacing: 2rem;
    line-height: 1em;
background-image: -moz-linear-gradient(top right, #6090a6, #fbb951 50%,#d65e3d 100.0%);
background-image: -webkit-linear-gradient(top right, #6090a6, #fbb951 50%,#d65e3d 100.0%);
background-image: -o-linear-gradient(top right, #6090a6, #fbb951 50%,#d65e3d 100.0%);
background-image: -ms-linear-gradient(top right, #6090a6, #fbb951 50%,#d65e3d 100.0%);
background-image: linear-gradient(top right, #6090a6, #fbb951 50%,#d65e3d 100.0%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title2 b { 
	font-weight: 500;
}
.title3 {
	font-size: 7em;
    line-height: 1em;
	text-shadow: 0 0 100px #000;
}
.title3 b { 
	font-weight: 900;
}

.button a:first-child {
	margin-right: 1%;
}
.button a {
	display: inline-block;
    border: 3px solid #fff;
    padding: 1.5%;
    width: 40%;
	box-sizing: border-box;
    border-radius: 3rem;
    color: #fff;
    font-siZe: 1.5em;
	text-shadow: 0 0 10px #000;
	box-shadow: 0 0 1px #000;
}
.button a:hover:first-child {
    background-color: #fbb951;
	background-image: -moz-linear-gradient( left, #d65e3d, #fbb951 100.0%);
	background-image: -webkit-linear-gradient( left, #d65e3d, #fbb951 100.0%);
	background-image: -o-linear-gradient( left, #d65e3d, #fbb951 100.0%);
	background-image: -ms-linear-gradient( left, #d65e3d, #fbb951 100.0%);
	background-image: linear-gradient( left, #d65e3d, #fbb951 100.0%);
}
.button a:hover {
    border: 3px solid #fbb951;
    background-color: #6090a6;
	background-image: -moz-linear-gradient( right, #6090a6, #fbb951 100.0%);
	background-image: -webkit-linear-gradient( right, #6090a6, #fbb951 100.0%);
	background-image: -o-linear-gradient( right, #6090a6, #fbb951 100.0%);
	background-image: -ms-linear-gradient( right, #6090a6, #fbb951 100.0%);
	background-image: linear-gradient( right, #6090a6, #fbb951 100.0%)
}


@media screen and (max-width:1200px) {
.title1 {
	font-size: 1.5em;
}
.title2 {
	font-size: 3.3em;
	letter-spacing: 1.5rem;
}
.title3 {
	font-size: 5.2em;
}
}

@media screen and (max-width:950px) {

#conbox {
	width: 80%;
}
.button a {
	display: block;
    padding: 1.5%;
    width: 70%;
    margin: 0 auto 3% !important;
}

}

@media screen and (max-width:600px)  {
	
#container {
	padding: 20vh 0;
	min-width: 500px;
}
#conbox {
	height: 60vh;
	padding: 5vh 0;
	box-sizing: border-box;
}
.title_img img{
	max-width: 30%;
	margin: 0 auto;
}
.title1 {
	font-size: 1.2em;
	letter-spacing: 0;
}
.title2 {
	font-size: 3em;
	word-spacing: 1rem;
	letter-spacing: 0;
    line-height: 1em;
}
.title3 {
	font-size: 3.5em;
    line-height: 1em;
}

}